<!doctype>
<html>
<body style="background-color:#EBC4A3;">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Squirrel_Sightings/style.css' %}">
<form action="/landing.html" method="GET">
</form>
<p align="center" style="color:#7E3817; font-size:30px;">SQUIRREL SIGHTINGS IN CENTRAL PARK</p>
<p align="center" style="color:#7E3817; font-size:20px;">To add a squirrel sighting, fill the information below</p>
    <form method="post" style="color:#7E3817; margin-left:40%;">
      {% csrf_token %} <!--wraps functions/template tags-->
      {{ form.Unique_Squirrel_Id.label}}:     {{ form.Unique_Squirrel_Id }}<br><br>
        {{ form.Latitude.label}}:               {{ form.Latitude }}<br><br>
        {{ form.Longitude.label}}:              {{ form.Longitude }}<br><br>
        {{ form.Shift.label}}:                  {{ form.Shift }}<br><br>
        {{ form.Date.label}}:                   {{ form.Date }}<br><br>
        {{ form.Age.label}}:                    {{ form.Age }}<br><br>
        {{ form.Location.label}}:               {{ form.Location }}<br><br>
        {{ form.Specific_Location.label}}:      {{ form.Specific_Location }}<br><br>
        {{ form.Primary_Fur_Color.label}}:      {{ form.Primary_Fur_Color }}<br><br>
        {{ form.Running.label}}:                {{ form.Running }}<br><br>
        {{ form.Chasing.label}}:                {{ form.Chasing }}<br><br>
        {{ form.Climbing.label}}:               {{ form.Climbing }}<br><br>
        {{ form.Eating.label}}:                 {{ form.Eating }}<br><br>
        {{ form.Foraging.label}}:               {{ form.Foraging }}<br><br>
        {{ form.Other_Activities.label}}:       {{ form.Other_Activities }}<br><br>
        {{ form.Kuks.label}}:                   {{ form.Kuks }}<br><br>
        {{ form.Quaas.label}}:                  {{ form.Quaas }}<br><br>
        {{ form.Moans.label}}:                  {{ form.Moans }}<br><br>
        {{ form.Tail_flags.label}}:             {{ form.Tail_flags }}<br><br>
        {{ form.Tail_twitches.label}}:          {{ form.Tail_twitches }}<br><br>
        {{ form.Approaches.label}}:             {{ form.Approaches }}<br><br>
        {{ form.Indifferent.label}}:            {{ form.Indifferent }}<br><br>
        {{ form.Runs_from.label}}:              {{ form.Runs_from }}<br><br>
      <br>  
      <button type='submit' style="background-color:#7E3817; color:#ffffff; font-size:15px;">SUBMIT</button>
    </form> 
  </body>
</html>  
