<!doctype>
<html>
    <body style="background-color:#EBC4A3;">
        <p style="color:#7E3817; font-size:30px; vertical-align:center;" align="center"><b>SQUIRREL TRACKING APP<b></p>
        <div style="height:90%;">
            <div style="width:50%; float:left;">
                {% load static %}
                    <img style="height:99%; width:100%;" 
                        src="{% static "Squirrel_Sightings/images/squirrel.jpg" %}">
            </div>
            <div style="width:50%; float:right;">
                <div style="height:25%;">
                    <form action='view/' method="GET">
                        <button type="submit" style="height:100%; width:99%; background-color:#7E3817; color:#ffffff; font-size:20px;">VIEW ALL SQUIRREL SIGHTINGS</button>
                    </form>
                </div>
                <div style="height:25%;">
                    <form action='add/' method="GET">
                        <button type="submit" style="height:100%; width:99%; background-color:#7E3817; color:#ffffff; font-size:20px;">ADD A SQUIRREL SIGHTING</button>
                    </form>
                </div>
                <div style="height:25%;">
                    <form action="stats/" action="GET">
                        <button type="submit" style="height:100%; width:99%; background-color:#7E3817; color:#ffffff;font-size:20px;">KEY METRICS FOR ALL SQUIRREL SIGHTINGS</button>
                    </form>
                </div>
                <div style="height:25%;">
                    <form action="map/" action="GET">
                        <button type="submit" style="height:100%; width:99%; background-color:#7E3817; color:#ffffff;font-size:20px;">MAP VIEW OF SQUIRREL SIGHTINGS</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
