<!doctype>
<html>
<body style="background-color:#EBC4A3;">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Squirrel_Sightings/style.css' %}">
<form action="/landing.html" method="GET">
</form>
<p align="center" style="color:#7E3817; font-size:20px;">STATS FOR SQUIRREL SIGHTINGS</p>{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Squirrel_Sightings/style.css' %}">
<table align="center" style="color:#7E3817; font-size:20px;">>
	<thead>
		<tr>
			<th>Activity/Feature</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody align="center" style="color:#7E3817; font-size:20px;">
		{% for key, value in stats.items %}
  		    <tr>
			    <td>{{key}}</td>
			    <td>{{value}}</td>
		    </tr>
		{% endfor %}
        </tbody>
</table>
