<!doctype>
<html>
<body style="background-color:#EBC4A3;">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Squirrel_Sightings/style.css' %}">

<form action="/landing.html" method="GET">
        <button type='submit' style="background-color:#7E3817; color:#ffffff; font-size:15px;">BACK</button>
</form>

<p align="center" style="color:#7E3817; font-size:30px;">SQUIRREL SIGHTINGS IN CENTRAL PARK</p>
<p align="center" style="color:#7E3817; font-size:20px;">To edit a squirrel sighting, click on its ID</p>

<table style="color:#7E3817;">
	<thead>
		<tr>
		  <th>Unique Squirrel ID</th> 	<th>Latitude</th>	<th>Longitude</th>	<th>Shift</th>
		  <th>Date</th> 		<th>Age</th> 		<th>Location</th> 	<th>Specific Location</th>
		  <th>Primary Fur Color</th> 	<th>Running</th> 	<th>Chasing</th> 	<th>Climbing</th>
		  <th>Eating</th> 		<th>Foraging</th> 	<th>Other Activities</th> <th>Kuks</th>
		  <th>Quaas</th> 		<th>Moans</th> 		<th>Tail Flags</th> 	<th>Tail Twitches</th>
		  <th>Approaches</th> 		<th>Indifferent</th> 	<th>Runs from</th>
		</tr>

	</thead>
	<tbody>
          {% for sighting in sightings %}
          <tr>
		  <td> <a href="{{sighting.Unique_Squirrel_Id}}/edit/">{{sighting.Unique_Squirrel_Id}}</a> </td>
                  <td>{{sighting.Latitude}} </td>
                  <td>{{sighting.Longitude}} </td>
		  <td>{{sighting.Shift}} </td>
		  <td>{{sighting.Date}} </td>
                  <td>{{sighting.Age}} </td>
                  <td>{{sighting.Location}} </td>
                  <td>{{sighting.Specific_Location}} </td>
                  <td>{{sighting.Primary_Fur_Color}} </td>
                  <td>{{sighting.Running}} </td>
                  <td>{{sighting.Chasing}} </td>
                  <td>{{sighting.Climbing}} </td>
                  <td>{{sighting.Eating}} </td>
                  <td>{{sighting.Foraging}} </td>
                  <td>{{sighting.Other_Activities}} </td>
                  <td>{{sighting.Kuks}} </td>
                  <td>{{sighting.Quaas}} </td>
                  <td>{{sighting.Moans}} </td>
                  <td>{{sighting.Tail_flags}} </td>
                  <td>{{sighting.Tail_twitches}} </td>
                  <td>{{sighting.Approaches}} </td>
                  <td>{{sighting.Indifferent}} </td>
                  <td>{{sighting.Runs_from}} </td>
          </tr>
          {% endfor %}		
	</tbody>
</table>
</body>
</html>
