<!doctype>
<html>
<body style="background-color:#EBC4A3;">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Squirrel_Sightings/style.css' %}">

<form action="/landing.html" method="GET">
</form>

<p align="center" style="color:#7E3817; font-size:30px;">SQUIRREL SIGHTINGS IN CENTRAL PARK</p>
<p align="center" style="color:#7E3817; font-size:20px;">To edit a squirrel sighting, click on its ID</p>

<table style="color:#7E3817;">
	<thead>
		<tr>
		  <th>Unique Squirrel ID</th> 	<th>Latitude</th>	<th>Longitude</th>	<th>Shift</th>
		  <th>Date</th> 		<th>Age</th> 		<th>Location</th> 	<th>Specific Location</th>
		  <th>Primary Fur Color</th> 	<th>Running</th> 	<th>Chasing</th> 	<th>Climbing</th>
		  <th>Eating</th> 		<th>Foraging</th> 	<th>Other Activities</th> <th>Kuks</th>
		  <th>Quaas</th> 		<th>Moans</th> 		<th>Tail Flags</th> 	<th>Tail Twitches</th>
		  <th>Approaches</th> 		<th>Indifferent</th> 	<th>Runs from</th>
		</tr>

	</thead>
	<tbody>
          {% for sighting in sightings %}
          <tr>
		  <td align="center" > <a href="{{sighting.Unique_Squirrel_Id}}/edit/">{{sighting.Unique_Squirrel_Id}}</a> </td>
                  <td align="center" >{{sighting.Latitude}} </td>
                  <td align="center" >{{sighting.Longitude}} </td>
		  <td align="center" >{{sighting.Shift}} </td>
		  <td align="center" >{{sighting.Date}} </td>
                  <td align="center" >{{sighting.Age}} </td>
                  <td align="center" >{{sighting.Location}} </td>
                  <td align="center" >{{sighting.Specific_Location}} </td>
                  <td align="center" >{{sighting.Primary_Fur_Color}} </td>
                  <td align="center" >{{sighting.Running}} </td>
                  <td align="center">{{sighting.Chasing}} </td>
                  <td align="center" >{{sighting.Climbing}} </td>
                  <td align="center" >{{sighting.Eating}} </td>
                  <td align="center" >{{sighting.Foraging}} </td>
                  <td align="center" >{{sighting.Other_Activities}} </td>
                  <td align="center" >{{sighting.Kuks}} </td>
                  <td align="center" >{{sighting.Quaas}} </td>
                  <td align="center" >{{sighting.Moans}} </td>
                  <td align="center" >{{sighting.Tail_flags}} </td>
                  <td align="center" >{{sighting.Tail_twitches}} </td>
                  <td align="center" >{{sighting.Approaches}} </td>
                  <td align="center" >{{sighting.Indifferent}} </td>
                  <td align="center" >{{sighting.Runs_from}} </td>
          </tr>
          {% endfor %}		
	</tbody>
</table>
</body>
</html>
